<% content_for :page_view, render_page_view(__FILE__) %>
<% amount_page_title = @claim_payment.reason != 'ADS' ? '.non_ads_claiming_amount_title' : '.claiming_amount_title'%>
<% content_for :page_title, t(amount_page_title) %>
<%= form_for @claim_payment, url: @post_path, local: true do |f| %>
  <%= form_errors_for @claim_payment %>
  <%= f.collection_radio_buttons_fields(:full_repayment_of_ads, @claim_payment.list_ref_data(:full_repayment_of_ads), alignment: 'vertical') unless @claim_payment.reason != 'ADS' %>
  <div id='hideable'>
    <%= f.currency_field :claiming_amount %>
  </div>
  <%= f.button %>
<% end %>
