<% content_for :hide_back_link, :remove_param_new %>
<% content_for :page_view, render_page_view(__FILE__) %>
<% content_for :page_title, t('.title') %>
<%= form_for @claim_payment, url: @post_path, local: true do |f| %>
  <%= form_errors_for @claim_payment %>
  <%= f.collection_radio_buttons_fields(:reason, @claim_payment.reason_list, alignment: 'vertical') %>     
  <div id='hideable'>
    <%= f.text_area_field :claim_desc %>
  </div> 
  <%= f.button 'next', { :name => 'submitted' } %>
<% end %>