<% content_for :hide_back_link, true %>
<% content_for :page_title, t('.title') %>
<% content_for :page_view, render_page_view(__FILE__) %>
<%= form_for @claim_payment, url: @post_path, method: :post, local: true do |f| %>
  <%= form_errors_for @claim_payment %> 
  <% if current_user.nil? %>
  <p class="govuk-body" if >
    <%= t('.public_secure_message', return_reference: @claim_payment.tare_reference) %>
  </p>
  <% else %>
  <p class="govuk-body">
    <%= t('.secure_message', return_reference: @claim_payment.tare_reference) %>
  </p>
  <% end %>
  <p class="govuk-body">
    <%= t('.date_text', system_date: DateFormatting.to_display_date_format(Date.today)) %>
  </p>
  <p class="govuk-body">
    <%= UtilityHelper.swap_texts(t('.paragraph2').html_safe,
                                 text_link: { t('.paragraph2_link_text') =>
                                               link_to(t('.paragraph2_link_text'), 'http://www.revenue.scot/', target: '_blank') }) %>
  </p>
  <p class="govuk-body">
    <%= t('.caution') %>
  </p>
<% end %>
<%= link_to t('.print'), nil, class: 'print govuk-link' %>
<p/>
<%= link_to t('.download_claim_details'), claim_download_claim_path, target: "_blank" %>

