<% content_for :page_view, render_page_view(__FILE__) %>
<% content_for :hide_back_link, true %>
<% content_for :page_title, t('.title') %>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= form_for @claim_payment, url:@post_path, html: { multipart: true }, method: :post, local: true do |f| %>
      <%= form_errors_for [@claim_payment, @resource_item] %>
      <%= f.collection_radio_buttons_fields(:more_uploads, @claim_payment.list_ref_data(:more_uploads)) %>
      <div id="multiple-claim-file-upload" >
        <%= render "/layouts/file_upload_component", multiple: true, file_upload_label: t('.file_upload_label') %>
      </div>
      <%= f.button 'finish', { :name => 'submitted', autofocus: (@resource_items.length > 0 && !@form_error_found), class: 'scot-rev-button file-upload-check' } %>
    <% end %>
  </div>
</div>