<% content_for :page_view, render_page_view(__FILE__) %>
<% count = params[:sub_object_index].to_i %>
<% content_for :page_title, t('.' + @claim_payment.translation_prefix(:party_title) + '_title', count: count, total: @claim_payment.number_of_buyers) %>
<% content_for :page_description, t(translation_for_index('.' + @claim_payment.translation_prefix + '_description', count)) %>
<%= form_for @party, url: @post_path, method: :post, local: true do |f| %>
  <%= form_errors_for [@party, @address_summary, @address_detail, @claim_payment] %>
  <% if count > 1 %>
    <%= f.collection_radio_buttons_fields(:same_address, @party.list_ref_data(:same_address), translation_options: @claim_payment.translation_prefix, alignment: 'vertical') %>
    <div id= "hideable" class='govuk-radios__conditional'>
      <%= render "/layouts/address" %>
    </div>
  <% else %>
    <%= render "/layouts/address" %>
  <% end %>
  <%= f.button %>
<% end %>
