<table class="ds_table" <%= "data-smallscreen=#{small_screen}" if small_screen %> <%= "id=#{id}" if id %>>
  <caption class="ds_!_margin-bottom--0">
    <%= caption %>
    <% if content %>
      <p> <%= content %> </p>
    <% end %>
    <% if links? %>
      <span>
        <% links.each do |link| %>
          <%= link %>
        <% end %>
      </span>
    <% end %>
  </caption>
  <thead>
    <%= header %>
  </thead>
  <tbody>
    <% rows.each do |row| %>
      <%= row %>
    <% end %>
  </tbody>
</table>
