<% content_for :page_view, render_page_view(__FILE__) %>
<% content_for :page_title, t('.title') %>
<% content_for :page_description, t('.description') %>
<%= form_for @slft_application, url: @post_path, local: true do |f| %>
  <%= form_errors_for @slft_application %>
    <% column_attribute_list = if @slft_application.waste_producer_water_discount? 
                                [:sepa_license_number, :site_name, :landfill_operator, :slft_registration_number ]
                             else
                                [:sepa_license_number, :site_name]
                             end %>
  <%= display_table(
    @slft_application.sites,
    column_attribute_list,
    [ { label: t('.edit_row'), path: :details_applications_slft_site_path, object_index_attribute: :sub_object_index, id_prefix: 'edit' },
      { label: t('.delete_row'), path: :applications_slft_site_path, action: :destroy, options: { data: { confirm: "Delete site?" } }, object_index_attribute: :sub_object_index } 
    ]
    ) %>
  <p>
    <%= navigational_links [ { link: '.add_site', path: new_applications_slft_sites_path, link_html_options: { id: 'add_site' } } ] %>
  </p>
  <%= f.button %>
<% end %>