<% content_for :page_title, t('returns.lbtt_ads.title') %>
<% content_for :page_view, render_page_view(__FILE__) %>

<%= form_for @ads, url: @post_path, method: :post, local: true do |f| %>
  <%= form_errors_for [@ads, @address_summary, @address_detail] %>

  <h3 class="govuk-fieldset__heading"><%= t('.rrep_ads_sold_address') %> </h3><br/>
  <%= render "/layouts/address" %>

  <%= f.button 'next', { :name => 'submitted' } %>
<% end %>
