<% content_for :page_title, t('returns.lbtt_ads.title') %>
<% content_for :page_view, render_page_view(__FILE__) %>

<%= form_for @ads, url: @post_path, method: :post, local: true do |f| %>
  <%= form_errors_for [@ads, @address_summary, @address_detail] %>
  <%= f.collection_radio_buttons_fields(:ads_sell_residence_ind, @ads.list_ref_data(:ads_sell_residence_ind)) %>
  <div class='govuk-radios__conditional--hidden' id='hideable' >
    <h3 class="govuk-fieldset__heading"><%= t('.address') %> </h3><br/>
    <%= render "/layouts/address" %>
  </div>
  <%= f.button 'next', { :name => 'submitted' }  %>
<% end %>
