<%= content_for :hide_back_link, true %>
<% content_for :page_view, render_page_view(__FILE__) %>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= form_for @message, url:dashboard_messages_confirmation_path, html: { multipart: true }, method: :post, local: true do |f| %>
      <%= form_errors_for [@message, @resource_item] %>
      <p class="govuk-body"><%= t('.paragraph1') %></p>
      <h2 class="govuk-heading-m"><%= t('.paragraph_heading') %></h2>
      <p class="govuk-body">
        <%= UtilityHelper.swap_texts(t('.paragraph2').html_safe,
                                     text_link: { t('.paragraph2_link_text') =>
                                                    link_to(t('.paragraph2_link_text'), 'http://www.revenue.scot/', target: '_blank') }) %>
      </p>
      <% if can? AuthorisationHelper::CREATE_ATTACHMENT %>
        <%= f.collection_radio_buttons_fields(:additional_file, ReferenceData::ReferenceValue.list('YESNO', 'SYS', 'RSTU')) %>
        <%= f.hidden_field :smsg_refno %>
        <div class='govuk-radios__conditional--hidden' id="multiple-file-upload" >
            <%= render "/layouts/file_upload_component", multiple: true, file_upload_label: t('.file_upload_label'), remove_remove: cannot?(AuthorisationHelper::DELETE_ATTACHMENT) %>
        </div>
      <% end %>
    <%= f.button 'continue', { :name => 'continue', autofocus: (@resource_items.length > 0 && !@form_error_found) , class: 'scot-rev-button file-upload-check'} %>
    <% end %>
  </div>
</div>
        
