<%= content_for :hide_back_link, true %>
<%= content_for :page_title, t('.title') %>
<% content_for :page_view, render_page_view(__FILE__) %>
<% if can? AuthorisationHelper::CREATE_MESSAGE %>
  <%= form_for @message, url: new_dashboard_message_path, method: :get, local: true do |f| %>
    <%= hidden_field_tag :original_smsg_refno, @message.original_smsg_refno %>
    <%= hidden_field_tag :smsg_refno, @message.smsg_refno %>
    <%= f.button '.reply' %>
  <% end %>
  <br>
<% end %>
<%= display_field @message,:full_name %>
<%= display_field @message,:created_date ,format: :datetime %>
<%= display_field @message,:subject_description %>
<%= display_field @message,:reference %>
<%= display_field @message,:title %>
<%= display_field @message,:body %>
<%if @message.attachments %>
  <div class="removefile">
    <table class="govuk-table">
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th class="govuk-table__header"><%=t('upload_column_filename')%></th>
          <th class="govuk-table__header"><%=t('upload_column_file_description')%></th>
          <th class="govuk-table__header"></th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        <% 
                if  @message.attachments[:attachment].kind_of?(Array) %>
          <% @message.attachments[:attachment].each do |resource_item| %>
            <tr class="govuk-table__row">
              <td>
                <% if can? AuthorisationHelper::DOWNLOAD_ATTACHMENT %>
                  <%= link_to resource_item[:file_name],
                                                retrieve_file_attachment_dashboard_message_path(attachment_ref_no: resource_item[:attachment_refno], attachment_type: resource_item[:attachment_type]),
                                                { target:"_blank" }
                                    %>
                <% else %>
                  <%= resource_item[:file_name] %>
                <% end %>
              </td>
              <td>
                <%= resource_item[:description] %>
              </td>
            </tr>
          <% end %>
        <% else 
                   resource_item = @message.attachments[:attachment]
                %>
        <tr class="govuk-table__row">
          <td>
            <% if can? AuthorisationHelper::DOWNLOAD_ATTACHMENT %>
              <%= link_to resource_item[:file_name],
                                            retrieve_file_attachment_dashboard_message_path(attachment_ref_no: resource_item[:attachment_refno], attachment_type: resource_item[:attachment_type]),
                                            { target: "_blank" }
                                %>
            <% else %>
              <%= resource_item[:file_name] %>
            <% end %>
          </td>
          <td>
            <%= resource_item[:description] %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
<% end %>
<h2><%= t('.heading') %> </h2>
<%= display_table(@messages,
                  [:created_date, :full_name, :title, :reference, :subject_description,  :has_attachment,:read_indicator],
                  [
                    { label: t('.show'), action: :show }
                  ],
                   { created_date: {format: :datetime} }) %>
<%= paginate @pagination_collection %>
<% links = [
            { link: :dashboard, path: dashboard_path },
            { link: :messages, path: dashboard_messages_path }
            ] %>
<%= navigational_links(links) %>
