 <% unless data.blank? %>
  <table class="govuk-table">
    <thead>
      <tr class="govuk-table__row">
        <th class="govuk-table__header" />
        <th class="govuk-table__header" />
        <th class="govuk-table__header"><%= t('.address') %> </th>
        <% if @lbtt_return.flbt_type == 'CONVEY'%>
          <th class="govuk-table__header"><%= t('.ads') %> </th>
        <% end %>
      </tr>
    </thead>
    <tbody>
        <% data.each do |property| %>
            <tr>
              <td />
              <td />
              <td><%= property.address&.short_address %></td>
              <% if @lbtt_return.flbt_type == 'CONVEY'%>
			          <td><%= property.lookup_ref_data_value(:ads_due_ind) %></td>
              <% end %>
              <td nowrap class="text_align_right">
              <!-- I don't think we need the return type on the path, see notes on the controller, also don't change fro musing flbt_type to return type, keep the naming consistent -->
                <%= link_to t('edit_row'), path = returns_lbtt_property_address_path(property_id: property.property_id) %>
                |
                <%= link_to t('delete_row'), path = returns_lbtt_property_delete_path(property_id: property.property_id), data: { confirm: 'Delete property?' } %>
              </td>
            </tr>
        <% end %>
    </tbody>
  </table>
 <% end %>