<% content_for :page_view, render_page_view(__FILE__) %>
<% content_for :page_title, t('.title_' + @slft_application.applicant_type) %>
<%= form_for @slft_application, url: @post_path, local: true do |f| %>
  <%= form_errors_for @slft_application %>
  <%= f.collection_radio_buttons_fields(:existing_agreement, @slft_application.list_ref_data(:existing_agreement)) %>
  <div id= "hideable">
    <% if @slft_application.waste_producer_water_discount? %>
      <%= f.collection_radio_buttons_fields(:renewal_or_review, @slft_application.list_ref_data(:renewal_or_review)) %>
    <% end %>
    <%= f.text_field :previous_case_reference %>
  </div>
  <%= f.button %>
<% end %>