<% content_for :page_title, t('.title') %>
<% content_for :page_view, render_page_view(__FILE__) %>
<%= form_for @lbtt_return, url: @post_path, :method => 'post', local: true do |f| %>
  <%= form_errors_for @lbtt_return %>
  <%= f.collection_radio_buttons_fields(:contingents_event_ind, @lbtt_return.list_ref_data(:contingents_event_ind), text_link: { t('.contingents_event_ind') =>
                                                    link_to(t('.contingents_event_ind'), external_link_url('CONTINGENT'), target: '_blank')}) %>
  <div id='deferral_agreed_details' class='govuk-radios__conditional govuk-radios__conditional--hidden' >
    <%= f.collection_radio_buttons_fields(:deferral_agreed_ind, @lbtt_return.list_ref_data(:deferral_agreed_ind)) %>
    <div id='deferral_reference_details' class='govuk-radios__conditional govuk-radios__conditional--hidden'>
      <%= f.text_field :deferral_reference %>
    </div>
  </div>
  <%= f.button %>
<% end %>
