<% content_for :page_title, t('.title') %>
<% content_for :page_view, render_page_view(__FILE__) %>

<%# Declared global variable %>
<% $convey_type = 'CONVEY'%>
<%= form_for @lbtt_return, url: @post_path, :method => 'post', local: true do |f| %>
  <%= form_errors_for @lbtt_return %>
  <%= f.collection_radio_buttons_fields(:linked_ind, @lbtt_return.list_ref_data(:linked_ind), :code, :value) %>
      <div class='govuk-radios__conditional--hidden' id='hideable'>
        <table class="govuk-table">
          <thead>
            <tr class="govuk-table__row">
              <th class="govuk-table__header"><%= t(".return_reference") %></th>
              <th class="govuk-table__header">
                <% if @lbtt_return.flbt_type == "#{$convey_type}" %>
                  <%= t(".consideration_amount" ) %>
                <% else %>
                  <%= t(".npv_inc" ) %>
                <% end %>
              </th>
              <% unless @lbtt_return.flbt_type == "#{$convey_type}" %>
                <th class="govuk-table__header"><%= t(".premium_inc" ) %></th>
              <% end %>
              <%# To match the table body's columns, we only need to show this header when we have a delete action link %>
              <% if @lbtt_return.link_transactions.size > 1 %>
                <th class="govuk-table__header"><%= t("action") %></th>
              <% end %>
            </tr>
          </thead>
          <tbody>
            <% @lbtt_return.link_transactions.each_with_index do |link_transaction, i| %>
              <%= f.fields_for :link_transactions, link_transaction do |u| %>
                <tr>
                  <td>
                    <%= u.text_field :return_reference , { width:'two-thirds', index: i } %>
                  </td>
                  <td>
                    <% if @lbtt_return.flbt_type == "#{$convey_type}" %>
                      <%= u.currency_field :consideration_amount , { width:'two-thirds', index: i}  %>
                    <% else %>
                      <%= u.currency_field :npv_inc , { width:'two-thirds', index: i}  %>
                    <% end %>
                  </td>
                  <% unless @lbtt_return.flbt_type == "#{$convey_type}" %>
                    <td>
                      <%= u.currency_field :premium_inc , { width:'two-thirds', index: i}  %>
                    </td>
                  <% end %>
                  <%# Don't show the delete button when we only have 1 row of data %>
                  <% if @lbtt_return.link_transactions.size > 1 %>
                    <td>
                      <%= button_tag t('delete_row'), { :name => 'delete_row', :class => 'scot-rev-button_link link_css', :value => i, :id => 'delete_row_' + i.to_s } %>
                    </td>
                  <% end %>
                </tr>
              <% end %>
            <% end %>
          </tbody>
        </table>
         <div class="govuk-form-group">
            <%= f.button 'add_row', { :class => 'scot-rev-button_link manual_link govuk-details__summary-text', :name => 'add_row' } %>
         </div>
      </div>
      <div class="govuk-form-group">
        <%= f.button 'next', { :name => 'submitted' }  %>
      </div>
<% end %>