<table class="govuk-table">
  <thead>
    <tr class="govuk-table__row">
      <th class="govuk-table__header" id="h1" colspan=6><%= table_headers[0] %></th>
    </tr>
    <tr>      
      <th class="govuk-table__header" id="b1" headers="blank1"/>
      <th class="govuk-table__header" id="l1" headers="lower"><%= t('.net_lower_tonnage').html_safe%></th>
      <th class="govuk-table__header" id="s1" headers="standard"><%= t('.net_standard_tonnage').html_safe %></th>
      <th class="govuk-table__header" id="e1" headers="exempt"><%= t('.exempt_tonnage').html_safe %></th>
      <th class="govuk-table__header" id="t1" headers="total"><%= t('.total_tonnage').html_safe %></th>
      <th class="govuk-table__header" id="b2" headers="blank2"/>
    </tr>
  </thead>
  <tbody>
    <% unless data.nil? %>
      <% data.each do |id, site| %>
        <% unless site.blank? %>
          <tr>            
            <td headers="h1 b1"><%= site.site_name %></td>
            <td headers="h1 l1"><%= site.net_lower_tonnage %></td>
            <td headers="h1 s1"><%= site.net_standard_tonnage %></td>
            <td headers="h1 e1"><%= site.exempt_tonnage %></td>
            <td headers="h1 t1"><%= site.total_tonnage %></td>
            <% nav_link = navigational_links [{link: '.add_waste_details', path: "#{returns_slft_site_waste_summary_path}?site=#{site.lasi_refno}"}] %>
            <td class="text_align_right" headers="h1 b2"><%= nav_link %></td>
          </tr>
        <% end %>
      <% end %>
    <% end %>
  </tbody>
</table>
