<% if @slft_return.errors.blank? %>
  <% content_for :page_title, t('.title') %>
<% else %>
  <% content_for :page_title, t('return_error') %>
<% end%>
<% content_for :page_view, render_page_view(__FILE__) %>

<%= form_for @slft_return, url: @post_path, method: :post, local: true do |f| %>
  <%= form_errors_for @slft_return %>
<% end %>

<% if @slft_return.errors.blank? %>
  <%= t('.information') %>
  <p/>
  <b><%= t('.caution') %></b>
  <p />
  <%= t('.return_html') %>
  <b><span id= "ret_ref_val"><%= @slft_return.tare_reference%></span>.</b>
  <%= t('.reference_html') %>
<% end %>
<%= navigational_links( [ { link: :back_to_return_summary, path: returns_slft_summary_path }, 
                          { link: :go_to_dashboard, path: dashboard_path} ] ) %>
