<%# Used for having fields for range of data, simply puts the two fields next to each other. %>
<%# @example Puts the two fields in one line  %>
<%# <%= render '/layouts/fields_range/' do % > %>
<%#   <%= form.date_field :effective_date_from, { width: 'full', value: @transaction_filter.effective_date_from } %>
<%#   <%= form.date_field :effective_date_to, { width: 'full', value: @transaction_filter.effective_date_to } %>
<%# <% end % > %>
<%# Splits the yielded value to two, which should be the two fields, then it is displayed in one line. %>
<%# When the split is done it actually splits it into 3 data as there are two "\n"s %>
<% yielded_value = yield.split("\n") %>
<div class = "display-inline-text govuk-!-width-one-third">
  <%= yielded_value[1].html_safe %>
</div>
<div class = "display-inline-text govuk-input--width-2"></div>
<div class = "display-inline-text govuk-!-width-one-third">
  <%= yielded_value[2].html_safe %>
</div>
