    <!-- Allow to upload one file if one_file_upload is set to true-
         We are showing the confirmation message to user on click on button who has CSS class 
         "file-upload-check" to handle the scenario when as a user if I use the choose file option 
         and then instead of clicking the Upload document I click the button where we applied the
         CSS class "file-upload-check"
    -->
    <% if local_variables.include?(:multiple)  %>
        <% show_add_button = true %>
    <% else %>
        <% show_add_button = @resource_items.length < 1 || @resource_item.errors.any? %>
    <% end %>
    <% if show_add_button %>
        <%= fields_for @resource_item do |ri| %>
            <div class="file">
                <label class="govuk-label" for="resource"><%= file_upload_label %></label>
                <span class="form-hint">
                    <p><%= file_upload_label_hint if local_variables.include?(:file_upload_label_hint) %></p>
                    <% if @supported_types.nil? %>
                        <%= t('file_upload_hint_without_supported_item', supported_max_size_mb: @supported_max_size_mb.to_s ) %>
		            <% else %>
                        <%= t('file_upload_hint', count: @supported_types.count(',')+1, supported_types: @supported_types, supported_max_size_mb: @supported_max_size_mb.to_s ) %>
                    <% end %>    
                </span>
                <table class="govuk-table">
                    <tr>
                        <td colspan='2'>
                            <div class="govuk-form-group">
                                <%= ri.file_field :file_data , { width: 'three-quarters', label: '' }, { data: { max_file_size: @supported_max_size_mb.megabytes, warning_message: t('file_upload_warning_message')} } %>
                            </div>    
                        </td>
                    </tr>
                    <% unless local_assigns[:hide_description] %>
                        <tr>
                            <td colspan='2'>
                                <%= ri.text_field :description, width: 'three-quarters', optional: true %>
                            </td>
                        </tr>
                    <% end %>
                    <tr>
                        <td class="width-fixed" class="govuk-form-group">
                            <%= ri.submit 'AddResource', { :name => 'add_resource' } %>
                        </td>
                        <td class="hideline">
                            <span class="uploadspinner"></span>
                        </td>
                    </tr>
                </table>
            </div>
        <% end %>
    <% end %>
    <% if @resource_items.length > 0 %> 
        <% if !@resource_items[0].file_name.nil? %>
            <div class="removefile">
                <table class="govuk-table">
                    <thead class="govuk-table__head">
                        <tr class="govuk-table__row">
                            <th class="govuk-table__header"><%= t('upload_column_filename') %></th>
                            <th class="govuk-table__header"><%= t('upload_column_file_description') %></th>
                            <th class="govuk-table__header"></th>
                        </tr>
                    </thead>
                    <tbody class="govuk-table__body">
                        <% @resource_items.each do |resource_item| %>
                            <% if resource_item && resource_item.original_filename %>
                                <tr class="govuk-table__row">
                                    <td>
                                        <%  download_url = if local_variables.include?(:file_control_name) 
                                                             "../" + file_control_name + "/download-file/?doc_refno=" + resource_item.doc_refno
                                                           else 
                                                             "download-file/?doc_refno=" + resource_item.doc_refno      
                                                           end 
                                        %>
                                        <%= link_to resource_item.original_filename, download_url, { target: "_blank" }%>
                                    </td>
                                    <td>
                                        <%= resource_item.description %>
                                    </td>
                                    <td class="hideline width-fixed">
                                        <% if !local_assigns[:remove_remove] %>
                                            <%= button_tag t('DeleteResource'), { :name => 'delete_resource', :class => 'scot-rev-button_link govuk-link', :id => 'DeleteResource', :value => resource_item.doc_refno } %>
                                        <% end %>
                                    </td>
                                    <td class="hideline">
                                        <span class="uploadspinner"></span>
                                    </td>
                                </tr>
                            <% end %>     
                        <% end %> 
                    </tbody>    
                </table>
            </div>
        <% end %>    
    <% end %>
    