<% 
# Allow to upload one file if one_file_upload is set to true-
#  We are showing the confirmation message to user on click on button who has CSS class 
#  "file-upload-check" to handle the scenario when as a user if I use the choose file option 
#  and then instead of clicking the Upload document I click the button where we applied the
#  CSS class "file-upload-check"
%>
<% 
# Iterate through the hash to work out which index value is the last one which needs entry as this one
# will need to show the upload documents button
upload_button_index = nil
upload_count = 0
@resource_items_hash.each do |index, resource_item|
  resource_items = @resource_items.select { |resource_item| resource_item.type == index }
  if local_assigns[:multiple] || resource_items.length < 1 || resource_item.errors.any?
    upload_button_index = index
    upload_count += 1
  end
end
%>
<% 
# We can get a hash for the hint in which case the entries are variables to be included
# Split the hash into the hint key and the variables to be replaced
if local_assigns[:file_upload_hint]
  if file_upload_hint.is_a?(Hash) 
     file_upload_hint_variables = file_upload_hint 
     file_upload_hint = file_upload_hint_variables.delete(:hint_key)
  else
    file_upload_hint_variables = {}
  end
end
%>
<% @resource_items_hash.each do |index, resource_item| %>
  <% 
  resource_items = @resource_items.select { |resource_item| resource_item.type == index  }
  if local_assigns[:multiple]
    show_upload = true
  else
    show_upload = resource_items.length < 1 || resource_item.errors.any?
  end 
  %>
  <%= fields_for resource_item do |ri| %>
    <div class="file">
      <label class="govuk-label" for=<%= "resource_item_" + index.to_s + "_file_data" %>><%= t(file_upload_label + '_' + index.to_s).html_safe if local_assigns[:file_upload_label] %></label>
      <span class="govuk-hint"><%= (t(file_upload_hint + '_' + index.to_s, file_upload_hint_variables)).html_safe if local_assigns[:file_upload_hint] %>
        <% unless local_assigns[:hide_size_hint] %>
          <br>
          <% if @supported_types.nil? %>
            <%= t('file_upload_hint_without_supported_item', supported_max_size_mb: @supported_max_size_mb.to_s ) %>
          <% else %>
            <%= t('file_upload_hint', count: @supported_types.count(',')+1, supported_types: @supported_types, supported_max_size_mb: @supported_max_size_mb.to_s ) %>
          <% end %>
        <%end%>
      </span>
      <table class="govuk-table">
        <% if show_upload %>
          <tr>
            <td colspan='2'>
              <div class="govuk-form-group">
                <%= ri.file_field :file_data , { width: 'three-quarters', label: ''}, { index: index, data: { max_file_size: @supported_max_size_mb.megabytes, warning_message: t('file_upload_warning_message')} } %>
              </div>
            </td>
          </tr>
          <% unless local_assigns[:hide_description] %>
            <tr>
              <td colspan='2'>
                <%= ri.text_field :description, { width: 'three-quarters', optional: true} , {index: index} %>
              </td>
            </tr>
          <% end %>
        <% end %>
        <% if index == upload_button_index %>
          <tr>
            <td class="width-fixed" class="govuk-form-group">
              <%= ri.submit (upload_count > 1 ? 'AddResources' : 'AddResource' ), { :name => 'add_resource' } %>
            </td>
            <td class="hideline">
              <span class="uploadspinner"></span>
            </td>
          </tr>
        <% end %>
      </table>
    </div>
  <% end %>
  <% if resource_items.length > 0 %>
    <% if !resource_items[0].file_name.nil? %>
      <div class="removefile">
        <table class="govuk-table">
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th class="govuk-table__header"><%= t('upload_column_filename') %></th>
              <% unless local_assigns[:hide_description] %>
                <th class="govuk-table__header"><%= t('upload_column_file_description') %></th>
              <% end %>
              <th class="govuk-table__header"></th>
            </tr>
          </thead>
          <tbody class="govuk-table__body">
            <% resource_items.each do |resource_item| %>
              <% if resource_item && resource_item.original_filename %>
                <tr class="govuk-table__row">
                  <td>
                    <%  
                    download_url = if local_assigns[:file_control_name]
                                     "../" + file_control_name + "/download-file/?doc_refno=" + resource_item.doc_refno
                                   else 
                                     "download-file/?doc_refno=" + resource_item.doc_refno      
                                   end 
                    %>
                    <%= link_to resource_item.original_filename, download_url, { target: "_blank" }%>
                  </td>
                  <% unless local_assigns[:hide_description] %>
                    <td>
                      <%= resource_item.description %>
                    </td>
                  <% end %>
                  <td class="hideline width-fixed">
                    <% if !local_assigns[:remove_remove] %>
                      <%= button_tag t('DeleteResource'), { :name => 'delete_resource', :class => 'scot-rev-button_link govuk-link', :id => 'DeleteResource', :value => resource_item.doc_refno } %>
                    <% end %>
                  </td>
                  <td class="hideline">
                    <span class="uploadspinner"></span>
                  </td>
                </tr>
              <% end %>
            <% end %>
          </tbody>
        </table>
      </div>
    <% end %>
  <% end %>
<% end %>
