<% content_for :form_errors do %>
  <div class="govuk-error-summary" aria-labelledby="error-summary-title" role="alert" tabindex="-1" data-module="govuk-error-summary">
    <%= sub_heading({ text: t('error_advice') }, { class: "govuk-error-summary__title", id: "error-summary-title" }) %>
    <div class="govuk-error-summary__body">
      <ul class="govuk-list govuk-error-summary__list">
        <% unless flash.empty? %>
          <% flash.each do |key, value| %>
            <% if key=="fatal_error" %>
              <li><%= t('errors.error_report', error_ref: value) %></li>
            <% else %>
              <li><%= value %></li>
            <% end %>
          <% end %>
        <% end %>
        <% unless error_hashes.blank? %>
          <% error_hashes.each do |error_hash| %>
            <li><a href="#<%= error_hash[:href] %>" data-turbolinks="false"> <%= error_hash[:message] %> </a></li>
          <% end %>
        <% end %>
      </ul>
    </div>
  </div>
<% end %>
