<!DOCTYPE html>
<html  lang="<%= I18n.locale %>">
  <head>
    <% if storage_permission?('statistics') %>
      <!-- Google tag (gtag.js) -->
      <script async nonce="<%= content_security_policy_nonce%>" src="https://www.googletagmanager.com/gtag/js?id=<%= ENV['ANALYTIC_TRACKING_ID'] %>"></script>
      <script nonce="<%= content_security_policy_nonce%>">
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', '<%= ENV['ANALYTIC_TRACKING_ID'] %>');
      </script>
    <% end %>
    <title><%= head_page_title %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <% unless content_for(:turbo_cache_control).nil? %>
      <meta name="turbo-cache-control" content="<%= content_for(:turbo_cache_control) %>">
    <% end %>
    <link rel="shortcut icon" href="<%= image_path("favicon.ico") %>" type="image/vnd.microsoft.icon" >
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <meta name="robots" content="noindex, nofollow">
  </head>
  <body data-controller="ds timeout-warning accessibility cancel-warning" 
        data-timeout-warning-message-value="<%= t('.timeout_warning_message') %>" 
        data-timeout-warning-minutes-value="<%= @session_ttl_warning %>"
        data-cancel-warning-message-value="<%= t('.cancel_warning_message') %>" 
        >
    <%= ds_skip_link %>
    <div class="ds_page">
      <div class="ds_page__top">
        <%= render "/layouts/header" %>
      </div>
      <div class="ds_page__middle">
        <div class="ds_wrapper">
          <main id="main-content" class="ds_layout  rs_layout--rs">
            <div class="ds_layout__header">
              <%= ds_navigation_link %>
              <%= render(DS::ErrorSummaryComponent.new) %>
              <%= ds_page_header(page_title: content_for(:page_title)) %>
            </div>
            <div class="ds_layout__content">
              <%= yield %>
            </div>
          </main>
        </div>
      </div>
      <%= ds_back_to_top %>
      <div class="ds_page__bottom">
        <%= render "/layouts/footer" %>
      </div>
    </div>
  </body>
</html>
